<div class="card-body">
  <div class="datagrid">
    <div class="datagrid-item">
      <div class="datagrid-title">Nome</div>
      <div class="datagrid-content"><%= livro.nome %></div>
    </div>
    <div class="datagrid-item">
      <div class="datagrid-title">Descrição</div>
      <div class="datagrid-content"><%= livro.descricao %></div>
    </div>
  </div>
</div>