<%= turbo_frame_tag :modal do %>
  <div class="modal modal-blur fade" id="modal-report" tabindex="-1" aria-hidden="true" data-controller="modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= livro.nome %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'livro', livro: livro %>
        </div>
      </div>
    </div>
  </div>
<% end %>